body {
    background-color: rgb(7, 7, 7);
    color: whitesmoke;
    text-align: center;
}

div.grid {
    display: grid;
    grid-template-columns: repeat(9, auto);
    justify-content: center;
}

div.grid:not(:first-of-type) {
    margin-top: 30px;
}

div.grid > * {
    height: 30px;
    width: 30px;
    background-color: inherit;
    color: inherit;
    text-align: center;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 0px 1px 1px 0px;
    line-height: 30px;
}

div.grid > *:nth-child(-n+9) {
    border-top-width: 1px;
}

div.grid > *:nth-child(9n+1) {
    border-left-width: 1px;
}

div.grid > *:nth-child(n+19):nth-child(-n+27),
div.grid > *:nth-child(n+46):nth-child(-n+54) {
    border-bottom-width: 3px;
}

div.grid > *:nth-child(9n+3),
div.grid > *:nth-child(9n+6) {
    border-right-width: 3px;
}

*:focus {
    outline: none;
}

button {
    background-color: inherit;
    color: inherit;
    border: 1px solid whitesmoke;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin-top: 20px; /* ! not here */
    cursor: pointer;
}

table {
    margin: auto;
    border-spacing: 0px;
    max-width: 50%;
}

table tr>th {
    border-style: solid;
    border-color: whitesmoke;
    border-width: 1px 0px;
}

table tr>*:first-child {
    text-align: right;
    padding-right: 0.5em;
}

table tr>*:last-child {
    text-align: left;
    padding-left: 0.5em;
}

td, th {
    width: 50%;
    padding: 0.25em 0em;
}